.topField   { 
    background-color: #ffffff;
    font-family: cursive;
    height: 150px;
    width: 100%;
    margin: 0;
    
}
    
    nav {
        background-color: white;
position: absolute;
top: 95px;
padding: 10px;
right: 262px;
height: 40px;
width: 211px;
margin-right: 1%;   
margin-bottom: 2%;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: 400;
text-align: center;

}
/* Navigation */
nav {
        background-color: white;
        position: absolute;
        top: 95px;
        padding: 10px;
        right: 262px;
        height: 40px;
        width: 211px;
        margin-right: 1%;   
        margin-bottom: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    

}

/* <!-- Fun Wobble effect on the nav bar! --> */
a i {
    font-size: 35px;
    color: purple;
}

/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
  
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
  
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
  
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
  
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
  
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  
  @keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
  
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
  
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
  
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
  
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
  
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  
  .hvr-wobble-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
body {
    background-image: url(https://s3.envato.com/files/56157806/DSC_6504dd_pr.jpg);
}


    .about { 
        background-color: teal;
        height: 50px;
        width: 250px;
        font-size: 28px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        text-align: center;
        position:absolute;
        top: 80px;
        left: 300px;  

    }
    .container {
        padding: 5%;
        background-color: black;    
        height: 700px;
        width: 400px;
        margin: 0 auto;
    }

.form {
    
    height: 600px;
}



     h2 {
        background-color: white;
        height: 50px;
        width: 250px;
        font-size: 28px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color:teal;
        text-align: center;
        float: left;
     }

    
    .footer {
        background-color: teal;
        position: sticky;
        height: 200px;
        width: 100%;
    }

    .list {
    
        margin-left: 250px;
}
   
    /* MEDIA QUERIES */
    
@media screen and (max-width: 950px) {
          
  .about {
      position: static;
      padding-right: 52%;
  }
    
    
  nav {
    background-color: white;
    position: absolute;
    top: 8px;
    margin-right: -19%;
    height: 40px;
    width: 154px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

  .content {
      height: 600px;
      width: 100%;
  }

  
      figure {
          width: 100%;
          float: left;  }

      }