/* Top section */
.topField   { 
    background-color: #ffffff;
    font-family: cursive;
    height: 150px;
    width: 100%;
    margin: 0;
    
}
    /* Navigation */
    nav {
        background-color: white;
        position: absolute;
        top: 95px;
        padding: 10px;
        right: 262px;
        height: 40px;
        width: 211px;
        margin-right: 1%;   
        margin-bottom: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    

}

/* <!-- Fun Wobble effect on the nav bar! --> */
a i {
    font-size: 35px;
    color: purple;
}

/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
  
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
  
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
  
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
  
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
  
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  
  @keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
  
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
  
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
  
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
  
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
  
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  
  .hvr-wobble-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
/* old Hover effect on Nav bar
a:hover { 
    background-color: purple;
    opacity: 80%;
} */

body {

    background-image: url(https://s3.envato.com/files/56157806/DSC_6504dd_pr.jpg)
}

/* Ashley */
    .myName { 
        background-color: teal;
        height: 50px;
        width: 250px;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        position:absolute;
        top: 100px;
        left: 300px;  

    }

    /* Main area */
    .content {

        background-color: white;
        height: 500px;
        width: 67%;
        margin: 0 19%;
        padding-left: 2%;
        margin-bottom:2%;
    
    }
     /* Quote */
     h3 { 
    
      padding-top: 2%;
    
  }
/* About me: */
     h2 {
        background-color: white;
        height: 50px;
        width: 250px;
        font-size: 28px;

        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color:teal;
        text-align: center;
        float: left;
       
     }


    .image {
       
        float: left;
        width: 25%;
        margin-top: 1%;
        margin-right: 2%;
        
    
    }

    /* My bio */
    p {
       
        float: right;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        width: 60%;
        margin-right: 10%;
    
    }
       
    
    .footer {
        background-color: teal;
        position: sticky;
        height: 200px;
        width: 100%;
    }

    /* Media Queries for Index page */
   @media screen and (max-width: 1060px) {
   
    .myName {
      position: static;
    }

    h2 {
      margin-bottom: 0%;
    }
    .content {
      width: 100%;
      height: 1500px;
      margin:0 auto;
    }
    h3 { 
    
      padding-top: 0;
      float: left;
      font-size: 14px;
    
  }
    image { 
      width: 35%;
      margin-top: 0%
    }
    p { 
       float:left;
        width: 100%;
        font-size: 17px;
        padding-right: auto;
       }
       nav {
        background-color: white;
        position: absolute;
        top: 8px;
        margin-right: -19%;
        height: 40px;
        width: 154px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
      

     


